<button class="exit_button" (click)="closeModal()">&#10006;</button>

<swiper [config]='swiperOpts'>

  <ng-template swiperSlide>
    <img class="ground_view_img" src="assets/images/RLA1705_Year01_Flat.jpg" alt="Year One"/>
  </ng-template>

  <ng-template swiperSlide>
    <img class="ground_view_img" src="assets/images/RLA1705_Year01_Textured.jpg" alt="Year One Textured"/>
  </ng-template>

  <ng-template swiperSlide>
    <img class="ground_view_img" src="assets/images/RLA1705_Year08_Flat.jpg" alt="Year Eight"/>
  </ng-template>

  <ng-template swiperSlide>
    <img class="ground_view_img" src="assets/images/RLA1705_Year08_Textured.jpg" alt="Year Eight Textured"/>
  </ng-template>

  <ng-template swiperSlide>
    <img class="ground_view_img" src="assets/images/RLA1705_Year16_Flat.jpg" alt="Year Sixteen"/>
  </ng-template>

  <ng-template swiperSlide>
    <img class="ground_view_img" src="assets/images/RLA1705_Year16_Textured.jpg" alt="Year Sixteen Textured"/>
  </ng-template>

  <ng-template swiperSlide>
    <img class="ground_view_img" src="assets/images/RLA1705_YearFinal_Flat.jpg" alt="Final Year"/>
  </ng-template>

  <ng-template swiperSlide>
    <img class="ground_view_img" src="assets/images/RLA1705_YearFinal_Textured.jpg" alt="Final Year Textured"/>
  </ng-template>

</swiper>


