
.login_container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #272936;
  background-image: url("~/src/assets/images/login_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login_container_overlay {
  width: 100%;
  height: 100%;
  background: #272936;
  background: linear-gradient(52deg, #272936 0%, #272936 54%, #272936e6 81%, #272936b6 100%);
  display: flex;
}

.form_container {
  width: 600px;
  height: auto;
  margin: auto auto auto 150px;
  display: grid;
  grid-template-rows: 80px 25px 80px 300px;
}

.icon {
  height: 60px;
  width: auto;
}

.welcome_h4 {
  font-size: 17px;
  font-weight: 600;
  color: #bebebe;
  margin-top: 30px;
}

.login_h1 {
  font-size: 50px;
  font-weight: 600;
  color: #eeeeee;
  margin-top: 55px;
}
.login_h1 .dot_transform {
  color: #D25F27;
}

.login_form {
  margin-top: 70px;
  width: 70%;
  min-width: 280px;
}

.error_msg {
  font-size: 14px;
  font-weight: 400;
  line-height: 0;
  margin: 0px;
  padding: 0px;
  color: #D25F27;
}

.login_input {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border-radius: 20px;
  border: none;
  margin: 30px 0px 0px;
  padding: 17px 20px;
  background-color: #37383f;
  font-size: 18px;
}
.login_input:focus {
  outline: none !important;
  background-color: #eeeeee;
  border: 2px solid #D25F27;
}

.login_button {
  width: 40%;
  height: auto;
  padding: 12px 15px;
  border-radius: 45px;
  border: none;
  margin: 30px 0px 0px;
  background-color: #D25F27;
  float: right;
  font-size: 18px;
  color: #eeeeee;
}
.login_button:hover {
  background-color: #db7745;
  cursor: pointer;
}

.truescape_logo {
  width: 170px;
  height: auto;
  position: absolute;
  bottom: 40px;
  right: 40px;
}

@media only screen and (max-width: 920px) {

  .form_container {
    width: 400px;
    margin-left: 100px;
    grid-template-rows: 65px 20px 60px 300px;
  }

  .icon {
    height: 45px;
  }

  .welcome_h4 {
    font-size: 15px;
    margin-top: 20px;
  }
  
  .login_h1 {
    font-size: 35px;
    margin-top: 40px;
  }

  .login_form {
    margin-top: 70px;
    min-width: 300px;
  }
  
  .error_msg {
    font-size: 13px;
    line-height: 1;
  }
  
  .login_input {
    margin-top: 25px;
    padding: 13px 20px;
    font-size: 16px;
  }
  
  .login_button {
    padding: 8px 15px;
    font-size: 16px;
    color: #eeeeee;
  }
  
}

@media only screen and (max-width: 600px) {

  .form_container {
    margin-left: 30px;
  }

}